main h2{color: black;
    text-align: center;}
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    
    .welcome-message{margin: 60px;}
    .carousel {
        position: relative;
        max-width: 1000px;
        max-height: 500px;
        margin: 50px auto;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .carousel img {
        width: 100%;
        display: none;
    }
    .carousel img.active {
        display: block;
    }
    .caption {
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
    
    .btn-barras {
        background-color: #000066;
        color: white;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 60px;
        right: 280px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    
  
    
    /* Mostrar o menu ao passar o cursor no botão */
    .btn-barras:hover + .menu {
        display: block;
    }
    
    /* Para que o menu continue visível ao passar o cursor sobre ele */
    
    .boasVindas{text-align: center;
    display: inline;
    }
    footer #imagens{border-radius: 15px;}

    @media (max-width: 768px) {
        .carousel {
            max-width: 100%;
            max-height: auto;
        }
        .btn-barras {
            top: 20px;
            right: 20px;
        }
        main {
            padding: 20px;
            height: auto; /* Evita valores fixos */
        }
    }
    